.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.12em 2.1em;

    @include themed() {
        background-color: t("secondary");
        color: t("whites");
    }
    border: none;
    cursor: pointer;
    border-radius: 3em;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    text-decoration: none;

    transition: background-color .2s linear;

    &--blue {
        background-color: $cobalt;
        box-shadow: 0 7px 17px -10px rgba($cobalt, .3);

        &:hover {
            background-color: darken($cobalt, 5%);
        }
    }

    &--rounded {
        border-radius: 0.41em;
    }

    &--sm {
        padding: 0.8em 1.5em;
    }
}
