.comments {
    margin-top: 5rem;
}

.comments__item {
    margin-bottom: 3rem;
}

.comments__header {
    display: flex;
    margin-bottom: 1.5rem;
}

.comments__avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.comments__author {
    flex-grow: 1;
    padding-left: 1.5rem;

    font-size: 1.2rem;
    line-height: 1.4;
}

.comments__name {
    @include themed() {
        color: t("whites");
    }
    font-weight: 500;
    font-size: 1.25rem;
}

.comments__pubdate {
    @include themed() {
        color: t("grays");
    }
}

.comments__text {
    font-size: 1.25rem;
    line-height: 1.4;
    @include themed() {
        color: t("whites");
    }
}










