.header {
    width: 100%;
    height: $header-height;

    @include themed() {
        background-color: t("header");
        box-shadow: 0 5px 22px rgba(t("blacks"), .25);
    }

    position: fixed;
    top: 0;
    right: 0;
    z-index: $z-index-header;
    display: block;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__inner {
        display: flex;
        align-items: center;
    }
    
    &__link {
        color: 'inherit';
        text-decoration: none;
        display: flex;
    }

    &__logo {
        width: 4.6rem;
        margin: 0.35rem 0 0 2.1rem;
        display: block;

        @media(max-width: 455px) {
            margin: 0.35rem 0 0 1.1rem;
        }

        @media(max-width: 400px) {
            display: none;
        }
    }

    &__name {
        margin: 1.2rem 2.5rem 0 1.7rem;
        font-size: 3.2rem;
        padding-top: 0;
        font-family: inherit;
        font-family: 'Bungee', cursive;

        @include themed() {
            color: t("whites");
        }

        @media(max-width: 455px) {
            font-size: 3.1rem;
        }
    }
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    display: block;
    padding: 2rem 1.8rem 2.1rem 1.8rem;
    border-radius: 0.3rem;

    font-size: 1.2rem;
    line-height: 1.1;
    text-transform: uppercase;
    @include themed() {
        color: t("whites");
    }
    text-decoration: none;
    font-family: 'Jost', sans-serif;

    transition: background-color .2s linear;

    &:hover {
        background-color: $cobalt;
    }

}
