.post__like {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__count {
        color: $gray;
        margin-right: 1.3rem;
    }
}

.heart {
    width: $heart;
    height: $heart;
    background-color: $gray; 
    transform: rotate(45deg);
    position: relative; 
    top: 0.15rem;

    &:before,
    &:after {
        content : ''; 
        display: block;
        width: $heart;
        height: $heart;
        background-color: $gray;
        border-radius: 50%; 
        position: absolute;
    }

    &--active {
        background-color: red;

        &:before,
        &:after {
            background-color: red;
        }
    }
}    


.heart::before {
    top: -5.5px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -5.5px;
}  