.main {
    padding-top: 10rem;
    padding-left: $sidebar-width;

    @media(max-width: 950px) {
        padding-left: 0;
    }
    width: 100%;
    height: 100%;

    @media(max-width: 600px) {
        padding-top: 8rem;
    }

    @media(max-width: 450px) {
        padding-top: 7rem;
    }
}

.main.center {
    padding-left: 0;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;

    @media(max-width: 600px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media(max-width: 450px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    min-height: 90vh;
    display: flex;
    flex-direction: column;
}