.pagination {
    display: flex;
    justify-content: center;
    margin: 6rem 0 5rem 0;
    padding-top: 2rem;

    margin-top: auto;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.pagination__inner {
    display: flex;
    flex-direction: column;
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    width: 4rem;
    height: 4rem;

    @include themed() {
        color: t("whites");
        background-color: t("header");
        box-shadow: 0 0 10px rgba(t("blacks"), .15);
    }
    border-radius: 3px;

    font-size: 1.4rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    border: 0;

    transition: background-color .2s linear;
    cursor: pointer;

    &:hover {
        @include themed() {
            background-color: lighten(t("header"), 2%);
        }
    }

    &--button {
        cursor: not-allowed;

        &:hover {
            @include themed() {
                background-color: t("header");
            }
        }
    }

    &--active {
        background-color: $cobalt;
        box-shadow: 0 0 10px rgba($cobalt, .15);

        &:hover {
            background-color: $cobalt;
        }
    }
}
