
.pagination {
    display: flex;
    justify-content: center;
    margin: 6rem 0 5rem 0;
    padding-top: 2rem;

    margin-top: auto;

    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
}

.pagination__inner {
    display: flex;
    flex-direction: column;
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    width: 4rem;
    height: 4rem;

    background-color: $header;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba($black, .15);

    font-size: 1.4rem;
    line-height: 4rem;
    color: $white;
    text-align: center;
    text-decoration: none;
    border: 0;

    transition: background-color .2s linear;
    cursor: pointer;

    &:hover {
        background-color: lighten($header, 2%);
    }

    &--button {
        cursor: not-allowed;

        &:hover {
            background-color: $header;
        }
    }

    &--active {
        background-color: $cobalt;
        box-shadow: 0 0 10px rgba($cobalt, .15);

        &:hover {
            background-color: $cobalt;
        }
    }
}
