.sidebar {
    width: $sidebar-width;
    height: 100%;

    background-color: $primary;
    box-shadow: 5px 0 10px rgba(#050505, .1);

    position: fixed;
    top: $header-height;
    left: 0;
    z-index: $z-index-sidebar;
}

.category {
    margin: 0.7rem 1.5rem;

    &:first-child {
        margin-top: 1.5rem;
    }

    &__inner {
        display: flex;
        padding: 1rem;
        cursor: pointer;
        border-radius: 1.2rem;
        transition: background-color .1s linear;

        &:hover {
            background-color: $secondary;
            box-shadow: 1px 5px 15px rgba($secondary, .7);
            background-color: lighten($secondary, 2%);
        }

        &--active{
            background-color: $secondary;
            box-shadow: 1px 5px 15px rgba($secondary, .7);
                
            &:hover {
                background-color: $secondary;
            }
        }
    }

    &__icon{
        width: 2.6rem;
        margin-right: 1rem;
    }

    &__text {
        border: none;
        
        font-size: 2.2rem;
        line-height: 1.1;
        font-weight: 400;
        color: $white;
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        
        position: relative;
        top: 0.1rem;
    } 
}

.social__share {
    padding-top: 4rem;
    padding-left: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

.social {
    display: flex;
    padding-left: 1.8rem;
    padding-top: 2rem;

    &__item {
        margin: 0 .75rem;
    }

    &__img {
        width: 2.4rem;
    }
}



