$primary:   #202020;
$secondary: #151414;
$header:    #080808;
$cobalt:    #3137C9;
$white:     #fff;
$black:     #000;
$gray:      #828282;


$z-index-sidebar: 100;
$z-index-header:  1000;

$header-height: 5.5rem;
$sidebar-width: 29rem;

