:root {
    --primary:   #202020;
    --secondary: #151414;
    --header:    #080808;
    --cobalt:    #3137C9;
    --white:     #fff;
    --black:     #000;
    --gray:      #828282;
  }
  
  [data-theme='white'] {
    --primary:   #a1a1a1;
    --secondary: #565555;
    --header:    #494848;
    --cobalt:    #3137C9;
    --white:     rgb(50, 49, 49);
    --black:     rgb(228, 221, 221);
    --gray:      #828282;
  }